 body {
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            font-style: normal;
        }

        body {
            background-color: rgb(83, 39, 39);
            top: 0px;
            left: 0px;
        }

        .content {
            background-color: black;
            color: white;
            width: 300px;
            border-radius: 10px;
            padding: 20px;
            display: inline-block;
            margin-left: 40px;
            margin-top: 10px;

        }

        .nav {
            background-color: black;
            color: rgb(255, 255, 255);
            text-align: center;
            border-radius: 8px;
            font-style: normal;
            font-size: 15px;
        }

        h3 {
            color: rgb(83, 39, 39);

        }
        .page{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
           
            
        }
        /* for dt button*/
        .content button {
            background-color: brown;
            color: white;
            font-size: 14px;
            border-radius: 8px;
            cursor: pointer;
            border: none;

        }
        /* for + button*/
        .adbt button {
            background-color: black;
            color: white;
            border-radius: 30px;
            border: none;
            cursor: pointer;
            height: 9%;
            width: 4%;
            position: fixed;
            bottom: 30px;
            right: 40px;
            font-style: bold;

        }

        .popback{
            display: none;
            background-color: black;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0.8;
            z-index: 1;
            
        }

        .pop{
            background:transparent;
            width: 100%;
            display: none;
            position: absolute;
            text-align: center;
            height: 100%;
            z-index: 2;
            top: 0px;
            left: 0px;
           
        }
        .popy{
            background-color: rgb(83, 39, 39);
            padding: 10px;
            width: 300px;
            border-radius: 10px;
             margin-left: 40%;
            margin-top: 200px;
            z-index: 3;
            height: 300px;

            
        }
        .popy input,textarea{
            background: transparent;
            margin: 8% auto;
           display: block;
           border: none;
           width: 90%;
           padding: 10px;
           height: 10%;
           border-bottom: solid rgb(0, 0, 0) 3px;
           color: white;
           
           
        }

        .a,.c{
            background-color: black;
            color: white;
            padding: 8px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            
        }